html
    head
        title
    body
        p name: #{data.name}
        p age: #{data.age}
        p date: #{data.date}
        p time: #{data.time}
        p assistedby: #{data.assistedby}
        p comments: #{data.comments}
        
        