html
    head  
        title
        script(src="../app.js")
    body
        p id: #{data.visitor_id}
        p name: #{data.visitor_name}
        p age: #{data.visitor_age}
        p date: #{data.date_of_visit}
        p time: #{data.time_of_visit}
        p assistedby: #{data.assisted_by}
        p comments: #{data.comments}
        
    
        