html
    head  
        title
        script(src="../app.js")
    body
        p id: #{data.id}
        p name: #{data.name}
        p age: #{data.age}
        p date: #{data.date}
        p time: #{data.time}
        p assistedby: #{data.assistedby}
        p comments: #{data.comments}
        
    
        